[report]
omit = 
    */python?.?/*
    */site-packages/nose/*
    */openpathsampling/tests/*
    */mdtraj/*
    */openpathsampling/experimental/*
    */setup.py
    openpathsampling/version.py
exclude_lines = 
    pragma: no cover
    def __repr__
    raise NotImplementedError
