[report]
omit = 
    */python?.?/*
    */openpathsampling/tests/*
    */mdtraj/*
    */openpathsampling/experimental/*
    */setup.py
    openpathsampling/version.py
exclude_lines = 
    pragma: no cover
    pragma: no-cover
    -no-cov-
    def __repr__
    raise NotImplementedError
