name: "Tests"
on:
  pull_request:
    types: ['opened', 'synchronize', 'reopened', 'ready_for_review']
    branches:
      - master
      - stable
  push:
    branches:
      - master
    tags:
      - "v*"
  schedule:
    - cron: "0 4 * * *"

defaults:
  run:
    shell: bash -l {0}

jobs:
  tests:
    runs-on: ubuntu-latest
    name: "Tests"
    strategy:
      # NOTE: When changing the test matrix:
      # * Update the after_n_builds in codecov.yml to match the number of
      #   builds in the matrix
      # * You may need to create another example run for the notebook tests
      #   (see examples/ipynbtests.sh; examples/prep_example_data.py). This
      #   is because Python internals (usually bytecode, which is saved in
      #   CVs) can differ between minor Python versions.
      matrix:
        CONDA_PY:
          - 3.9
          #- 3.8
          #- 3.7
          #- 2.7
        MINIMAL: [""]
        #include:
          #- CONDA_PY: 3.7
            #MINIMAL: "minimal"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-python@v2
      - uses: conda-incubator/setup-miniconda@v2
        with: 
          auto-update-conda: true
          python-version: ${{ matrix.CONDA_PY }}
          miniforge-variant: Mambaforge
      - name: "Install requirements"
        env:
          MINIMAL: ${{ matrix.MINIMAL }}
          CONDA_PY: ${{ matrix.CONDA_PY }}
        run: |
          if [ -z "$MINIMAL" ] ; then
            source devtools/conda_install_reqs.sh
          else
            python -m pip install -r devtools/minimal.txt \
                                  -r devtools/minimal_testing.txt
          fi
          python -m pip install autorelease
      - name: "Install"
        run: |
          python -m pip install --no-deps -e .
          python -c "import openpathsampling"
      - name: "Versions"
        run: conda list
      - name: "Autorelease check"
        run: python devtools/autorelease_check.py
      #- name: "DEBUG: enable SSH login"
        #uses: mxschmitt/action-tmate@v3
      - name: "DEBUG: Minimal failing tests for #1072"
        run: |
          # we run this 4 times because it doesn't always fail
          py.test \
            openpathsampling/tests/test_pathsimulator.py::TestReactiveFluxSimulation::test_initialization \
            openpathsampling/tests/test_reactive_flux_analysis.py::TestReactiveFluxAnalysis::test_analysis
          py.test \
            openpathsampling/tests/test_pathsimulator.py::TestReactiveFluxSimulation::test_initialization \
            openpathsampling/tests/test_reactive_flux_analysis.py::TestReactiveFluxAnalysis::test_analysis
          py.test \
            openpathsampling/tests/test_pathsimulator.py::TestReactiveFluxSimulation::test_initialization \
            openpathsampling/tests/test_reactive_flux_analysis.py::TestReactiveFluxAnalysis::test_analysis
          py.test \
            openpathsampling/tests/test_pathsimulator.py::TestReactiveFluxSimulation::test_initialization \
            openpathsampling/tests/test_reactive_flux_analysis.py::TestReactiveFluxAnalysis::test_analysis
      - name: "Unit Tests"
        env:
          PY_COLORS: "1"
        run: py.test -vv -s --cov --cov-report xml
      #- name: "Tests: Experimental"
        #if: matrix.MINIMAL == '' && matrix.CONDA_PY != '2.7'
        #run: py.test openpathsampling/experimental/ -vv -s
      #- name: "Report coverage"
        #run: bash <(curl -s https://codecov.io/bash)
      #- name: "Notebook tests"
        #if: matrix.MINIMAL == ''
        #run: |
          #pushd examples/ && ./ipynbtests.sh || exit 1 && popd
      #- name: "Deploy docs"
        #if: matrix.CONDA_PY == '3.7' && matrix.MINIMAL == ''
        #run: |
          #echo "TODO"
